.details-btn {
  padding: 8px 25px;
  transition: all 0.5s ease;
  color: black;
}

.details-btn:hover {
  color: black;
}

.product-details .add-cart, #submit, #to-shop, .login-btn{
  border: none;
  padding: 8px 25px;
  border-radius: 5px;
  transition: all 0.5s ease;
  background-color: #a6ad96;
  color: black;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.product-details .add-cart:hover, #submit:hover, #to-shop:hover, .login-btn:hover {
  background-color: #eae6e3;
  cursor: pointer;
}

.product-details .add-cart:active, #submit:active{
  position: relative;
  top: 1px;
  background-color: transparent;
}

.login-btn {
  width: 100%;
}
