.header {
  background-image: url('http://localhost:1337/uploads/jakob_owens_Jz_J_Syb_P_Fb3s_unsplash_0840f6de0c.jpg');
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(120%) drop-shadow(10px 10px 30px gray);
  margin: 0px;
  padding: 0px;
}