.header {
  background-image: url('http://localhost:1337/uploads/photo_1544085311_11a028465b03_29d7651dcc.jpeg');
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(120%) drop-shadow(10px 10px 30px gray);
  margin: 0px;
  padding: 0px;
}