.message {
  border: 1px solid grey;
  color: grey;
  margin-top: 1rem;
  padding: 1rem;
}

.message.error {
  border-color: red;
  color: red;
}

.message.success {
  border-color: green;
  color: green;
}
