.result-container {
  display: flex;
  flex-wrap: wrap;
}

.result {
  background: white;
  width: 17rem;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .08);
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.result img {
  height: 230px;
  width: 100%;
  object-fit: scale-down;
}

.product-details {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.product-details img {
  filter: drop-shadow(5px 5px 10px lightgray);
}
.product-details__text {
  max-width: 400px;
  margin: 0 2rem;
}
.product-details img {
  max-width: 500px;
}
.products-container {
  width: 100%;
} 

.img-container {
  margin-bottom: 0;
}

.upload__background {
  display: block;
  background-color: lightgray;
}

#uploadImage {
  display: none;
  max-height: 200px;
  margin: 0 auto;
}

/* small screen styles*/
@media only screen and (max-width: 992px) {

  .result-container {
    text-align: center;
  }

  .img-container {
    max-width: 100%;
  }

  .product-details img {
    max-width: 100%;
  }

  .product-details__text {
    max-width: 400px;
    margin: 2rem auto;
  }

}